@page
@*@System.Globalization.CultureInfo.CurrentUICulture*@
@model MyTestWebInterface.Pages.TelegramBotApi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Something">Something</a>
</p>

<form>
    <p>
        Bot Token: <input type="text" asp-for="BotToken" />
        <input type="submit" value="GetMe" />
    </p>
</form>

<label asp-for="JsonResult" class="control-label" />
<input asp-for="JsonResult" class="form-control" />