@model Zs.Bot.Model.Db.DbUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DbUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserFullName" class="control-label"></label>
                <input asp-for="UserFullName" class="form-control" />
                <span asp-validation-for="UserFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRoleCode" class="control-label"></label>
                <input asp-for="UserRoleCode" class="form-control" />
                <span asp-validation-for="UserRoleCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserIsBot" /> @Html.DisplayNameFor(model => model.UserIsBot)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RawData" class="control-label"></label>
                <input asp-for="RawData" class="form-control" />
                <span asp-validation-for="RawData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawDataHash" class="control-label"></label>
                <input asp-for="RawDataHash" class="form-control" />
                <span asp-validation-for="RawDataHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawDataHistory" class="control-label"></label>
                <input asp-for="RawDataHistory" class="form-control" />
                <span asp-validation-for="RawDataHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertDate" class="control-label"></label>
                <input asp-for="InsertDate" class="form-control" />
                <span asp-validation-for="InsertDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
